<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#/dashboard">
        <img alt="Brand" src="../../../../images/rsz_11rsz_1rsz_vedoot-logo.png" style="height: 30px;">
    </a>
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/profile">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
        <a class="navbar-brand" ng-click="model.logout()">
            <span class="pull-right glyphicon glyphicon-log-out"></span>
        </a>
    </div>
</nav>

<h1></h1>

<div class="container-fluid hidden-xs">
    <div class="row">
        <div id="mapdiv" class="col-xs-8">
            <div class="gmaps"></div>
        </div>

        <div id="weatherlist" class="col-xs-4">
            <ul class="list-group">
                <li class="wrap-text list-group-item head">
                    Latest Readings
                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                    <span class="sr-only"></span>
                </li>
                <li class="wrap-text list-group-item">
                    Temperature:
                    <span>{{model.temperature}}</span>
                </li>
                <li class="wrap-text list-group-item">
                    Humidity:
                    <span>{{model.humidity}}</span>
                </li>
                <li class="wrap-text list-group-item">
                    Pressure:
                    <span>{{model.pressure}}</span>
                </li>
                <li class="wrap-text list-group-item">
                    UV:
                    <span>{{model.uvlevel}}</span>
                </li>
                <li class="wrap-text list-group-item">
                    Water Level:
                    <span>{{model.waterlevel}}</span>
                </li>
                <li class="wrap-text list-group-item">
                    Pm 2.5:
                    <span>{{model.pm2}}</span>
                </li>
                <li class="wrap-text list-group-item">
                    PM 5.0:
                    <span>{{model.pm5}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 charts">
                <canvas id="tempChart" width="400" height="400"></canvas>
            </div>

            <div id="reappend" class="charts col-xs-4">
             <canvas id="humdChart" width="400" height="400"></canvas>
            </div>

            <div class="charts col-xs-4">
                <canvas id="pressChart" width="400" height="400"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="charts col-xs-4">
                <canvas id="uvChart" width="400" height="400"></canvas>
            </div>

            <div class="charts col-xs-4">
                <canvas id="waterChart" width="400" height="400"></canvas>
            </div>

            <div class="charts col-xs-4">
              <canvas id="pmChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>

</div>

<div class="visible-xs container">
    <div class="gmaps"></div>

    <ul class="list-group">
        <li class="wrap-text list-group-item head">
            Latest Readings
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
            <span class="sr-only"></span>

        </li>
        <li class="wrap-text list-group-item">
            Temperature:
            <span>{{model.temperature}}</span>
        </li>
        <li class="wrap-text list-group-item">
            Humidity:
            <span>{{model.humidity}}</span>
        </li>
        <li class="wrap-text list-group-item">
            Pressure:
            <span>{{model.pressure}}</span>
        </li>
        <li class="wrap-text list-group-item">
            UV:
            <span>{{model.uvlevel}}</span>
        </li>
        <li class="wrap-text list-group-item">
            Water Level:
            <span>{{model.waterlevel}}</span>
        </li>
        <li class="wrap-text list-group-item">
            Pm 2.5:
            <span>{{model.pm2}}</span>
        </li>
        <li class="wrap-text list-group-item">
            PM 5.0:
            <span>{{model.pm5}}</span>
        </li>
    </ul>

    <div class="charts container">
        <canvas id="tempCharts" width="400" height="200"></canvas>
    </div>

    <div class="charts container">
        <canvas id="humdCharts" width="400" height="200"></canvas>
    </div>

    <div class="charts container">
        <canvas id="pressCharts" width="400" height="200"></canvas>
    </div>

    <div class="charts container">
        <canvas id="uvCharts" width="400" height="200"></canvas>
    </div>

    <div class="charts container">
        <canvas id="waterCharts" width="400" height="200"></canvas>
    </div>

    <div class="charts container">
        <canvas id="pmCharts" width="400" height="200"></canvas>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/dashboard">
            <span class="pull-right glyphicon glyphicon-home"></span>
        </a>
    </div>
</nav>