<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#/user/{{model.user._id}}">
        <img alt="Brand" src="../../../../images/rsz_11rsz_1rsz_vedoot-logo.png" style="height: 30px;">
    </a>
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/user/{{model.user._id}}/profile">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
        <a class="navbar-brand" href="#/home">
            <span class="pull-right glyphicon glyphicon-log-out"></span>
        </a>
    </div>
</nav>

<h1></h1>

<div class="container-fluid hidden-xs">
    <div class="row">
        <div class="col-xs-4">
            <div class="gmaps"></div>
        </div>

        <div class="col-xs-4">
            <ul class="list-group">
                <li class="wrap-text list-group-item">
                    Number of Cars:
                    <span ng-show="model.noofcars">{{model.noofcars}}</span>
                </li>
            </ul>
        </div>

        <div class="col-xs-4 charts">
            <canvas id="carChart" width="400" height="400"></canvas>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>

</div>

<div class="visible-xs container">
    <div class="gmaps"></div>

    <ul class="list-group">
        <li class="wrap-text list-group-item">
            Number of Cars:
            <span ng-show="model.noofcars">{{model.noofcars}}</span>
        </li>
    </ul>

    <div class="charts container">
        <canvas id="carCharts" width="400" height="200"></canvas>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#/user/{{model.user._id}}">
                    <span class="pull-right glyphicon glyphicon-home"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>