<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#/dashboard">
        <img alt="Brand" src="../../../../images/rsz_11rsz_1rsz_vedoot-logo.png" style="height: 30px;">
    </a>
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/profile">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
        <a class="navbar-brand" ng-click="model.logout()">
            <span class="pull-right glyphicon glyphicon-log-out"></span>
        </a>
    </div>
</nav>

<h1></h1>

<div class="container-fluid hidden-xs">
    <div class="row">
        <div id="mapdiv" class="col-xs-8">
            <div class="gmaps"></div>
        </div>

        <div id="weatherlist" class="col-xs-4">
            <ul class="list-group">
                <li class="wrap-text list-group-item head">
                    Latest Readings
                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                    <span class="sr-only"></span>
                </li>
                <li class="wrap-text list-group-item">
                    Number of Cars:
                    <span ng-show="model.noofcars">{{model.noofcars}}</span>
                </li>
                <li class="wrap-text list-group-item">
                    Carbon Dioxide Level:
                    <span ng-show="model.colevel">{{model.colevel}}</span>
                </li>
                <li class="wrap-text list-group-item">
                    Sulphur Dioxide Level:
                    <span ng-show="model.solevel">{{model.solevel}}</span>
                </li>
                <li class="wrap-text list-group-item">
                    Nitrous Oxide Level:
                    <span ng-show="model.nolevel">{{model.nolevel}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row container-fluid">
        <div class="col-xs-3 charts">
            <canvas id="carChart" width="400" height="400"></canvas>
        </div>
        <div class="col-xs-3 charts">
            <canvas id="coChart" width="400" height="400"></canvas>
        </div>

        <div class="col-xs-3 charts">
            <canvas id="soChart" width="400" height="400"></canvas>
        </div>

        <div class="col-xs-3 charts">
            <canvas id="noChart" width="400" height="400"></canvas>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>

</div>

<div class="visible-xs container">
    <div class="gmaps"></div>

    <ul class="list-group">
        <li class="wrap-text list-group-item head">
            Latest Readings
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
            <span class="sr-only"></span>
        </li>
        <li class="wrap-text list-group-item">
            Number of Cars:
            <span ng-show="model.noofcars">{{model.noofcars}}</span>
        </li>
        <li class="wrap-text list-group-item">
            Carbon Dioxide Level:
            <span ng-show="model.colevel">{{model.colevel}}</span>
        </li>
        <li class="wrap-text list-group-item">
            Sulphur Dioxide Level:
            <span ng-show="model.solevel">{{model.solevel}}</span>
        </li>
        <li class="wrap-text list-group-item">
            Nitrous Oxide Level:
            <span ng-show="model.nolevel">{{model.nolevel}}</span>
        </li>
    </ul>

    <div class="charts container">
        <canvas id="carCharts" width="400" height="200"></canvas>
    </div>

    <div class="container charts">
        <canvas id="coCharts" width="400" height="200"></canvas>
    </div>

    <div class="container charts">
        <canvas id="soCharts" width="400" height="200"></canvas>
    </div>

    <div class="container charts">
        <canvas id="noCharts" width="400" height="200"></canvas>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/dashboard">
            <span class="pull-right glyphicon glyphicon-home"></span>
        </a>
    </div>
</nav>