<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#/dashboard">
        <img alt="Brand" src="../../../../images/rsz_11rsz_1rsz_vedoot-logo.png" style="height: 30px;">
    </a>
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/profile">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
        <a class="navbar-brand" ng-click="model.logout()">
            <span class="pull-right glyphicon glyphicon-log-out"></span>
        </a>
    </div>
</nav>

<h1></h1>


<div class="container-fluid">
    <div class="row" id="model-select">
        <div class="col-xs-4">
            <a ng-click="model.modelClicked(0)" class="wrap-text btn btn-block">
                Modify User Model
            </a>
        </div>

        <div class="col-xs-4">
            <a ng-click="model.modelClicked(1)" class="wrap-text btn btn-block">
                Modify Sensor Model
            </a>
        </div>

        <div class="col-xs-4">
            <a ng-click="model.modelClicked(2)" class="wrap-text btn btn-block">
                Modify Reading Model
            </a>
        </div>
    </div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        <strong>Error!</strong> {{model.error}}
    </div>

    <div ng-show="model.u">
        <h1>User Details</h1>

        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <label class="radio-inline"><input type="radio" ng-model="searchValue" ng-value="1">Search by id</label>
                    <label class="radio-inline"><input type="radio" ng-model="searchValue" ng-value="2">Search by username</label>
                </div>
                <br>
            </div>

            <div class="col-xs-6">
                <div class="input-group">
                    <input ng-model="searchText" type="text" class="form-control" placeholder="Search here">
                    <span class="input-group-btn">
                        <a class="btn btn-default" type="button">
                            <span ng-click="model.startSearch(searchValue, searchText)" class="glyphicon glyphicon-search"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div ng-show="model.addUser">
            <h3>Add a new user</h3>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input ng-model="model.newuser.username" type="text" class="form-control" id="username" placeholder="Username">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input ng-model="model.newuser.password" type="password" class="form-control" id="password" placeholder="Password">
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input ng-model="model.newuser.email"type="email" class="form-control" id="email" placeholder="email@address.com">
                </div>

                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input ng-model="model.newuser.firstName" type="text" class="form-control" id="first-name" placeholder="First name">
                </div>

                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input ng-model="model.newuser.lastName" type="text" class="form-control" id="last-name" placeholder="Last name">
                </div>

                <div class="form-group">
                    <label for="role">Role [NORMAL|TADMIN|WADMIN]</label>
                    <input ng-model="model.newuser.role" type="text" class="form-control" id="role" placeholder="Last name">
                </div>
            </form>
            <br>
        </div>

        <br>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>_id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th ng-hide="model.bool" ><span ng-click="model.addUser = true; model.bool = true"
                                                    class="glyphicon glyphicon-plus"></span></th>
                    <th ng-hide="!model.bool"><span ng-click="model.createUser(model.newuser)"
                                                    class="glyphicon glyphicon-ok"></span></th>
                    <th ng-hide="!model.bool"><span ng-click="model.addUser = false; model.bool = false"
                                                    class="glyphicon glyphicon-remove"></span></th>
                </tr>
                </thead>
                <tbody ng-show="model.searchResults" ng-repeat="search in model.searchResults">
                <tr class="success">
                    <td>{{search._id}}</td>
                    <td ng-show="search.editfields">
                        <input
                                ng-model="model.search.username"
                                type="text"
                                class="form-control"
                                placeholder="john"/></td>
                    <td ng-hide="search.editfields">{{search.username}}</td>

                    <td ng-show="search.editfields">
                        <input
                                ng-model="model.search.email"
                                type="email"
                                class="form-control"
                                placeholder="john@gmail.com"/></td>
                    <td ng-hide="search.editfields">{{search.email}}</td>

                    <td ng-show="search.editfields">
                        <input
                                ng-model="model.search.firstName"
                                type="text"
                                class="form-control"
                                placeholder="John"/></td>
                    <td ng-hide="search.editfields">{{search.firstName}}</td>

                    <td ng-show="search.editfields">
                        <input
                                ng-model="model.search.lastName"
                                type="text"
                                class="form-control"
                                placeholder="Connor"/></td>
                    <td ng-hide="search.editfields">{{search.lastName}}</td>

                    <td ng-show="search.editfields">
                        <input
                                ng-model="model.search.role"
                                type="text"
                                class="form-control"
                                placeholder="NORMAL"/></td>
                    <td ng-hide="search.editfields">{{search.role}}</td>

                    <td ng-hide="search.editfields">
                        <span ng-click="search.editfields = true" class="glyphicon glyphicon-pencil"></span>
                    </td>

                    <td ng-show="search.editfields">
                        <span ng-click="model.updateUser(search._id, model.search)" class="glyphicon glyphicon-ok"></span>
                    </td>

                    <td ng-show="search.editfields">
                        <span ng-click="search.editfields = false" class="glyphicon glyphicon-remove"></span>
                    </td>

                    <td ng-hide="search.editfields">
                        <span ng-click="model.deleteUser(search)" class="glyphicon glyphicon-trash"></span>
                    </td>
                </tr>
                </tbody>

                <tbody ng-show="model.search">
                <tr class="success">
                    <td>{{model.search._id}}</td>
                    <td ng-show="model.search.editfields">
                        <input
                                ng-model="model.search.username"
                                type="text"
                                class="form-control"
                                placeholder="john"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.username}}</td>

                    <td ng-show="model.search.editfields">
                        <input
                                ng-model="model.search.email"
                                type="email"
                                class="form-control"
                                placeholder="john@gmail.com"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.email}}</td>

                    <td ng-show="model.search.editfields">
                        <input
                                ng-model="model.search.firstName"
                                type="text"
                                class="form-control"
                                placeholder="John"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.firstName}}</td>

                    <td ng-show="model.search.editfields">
                        <input
                                ng-model="model.search.lastName"
                                type="text"
                                class="form-control"
                                placeholder="Connor"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.lastName}}</td>

                    <td ng-show="model.search.editfields">
                        <input
                                ng-model="model.search.role"
                                type="text"
                                class="form-control"
                                placeholder="NORMAL"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.role}}</td>

                    <td ng-hide="model.search.editfields">
                        <span ng-click="model.search.editfields = true" class="glyphicon glyphicon-pencil"></span>
                    </td>

                    <td ng-show="model.search.editfields">
                        <span ng-click="model.updateUser(model.search._id, model.search)" class="glyphicon glyphicon-ok"></span>
                    </td>

                    <td ng-show="model.search.editfields">
                        <span ng-click="model.search.editfields = false" class="glyphicon glyphicon-remove"></span>
                    </td>

                    <td ng-hide="model.search.editfields">
                        <span ng-click="model.deleteUser(model.search)" class="glyphicon glyphicon-trash"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-show="model.s">
        <h1>Sensor Details</h1>

        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <label class="radio-inline"><input type="radio" ng-model="searchValue" ng-value="1">Search by id</label>
                    <label class="radio-inline"><input type="radio" ng-model="searchValue" ng-value="2">Search by coordinates [12.9716,77.5946]</label>
                </div>
                <br>
            </div>

            <div class="col-xs-6">
                <div  class="input-group">
                    <input ng-model="searchText" type="text" class="form-control" placeholder="Search here">
                    <span class="input-group-btn">
                        <a class="btn btn-default" type="button">
                            <span ng-click="model.startSearch(searchValue, searchText)" class="glyphicon glyphicon-search"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div ng-show="model.addSensor">
            <h3>Add a new sensor</h3>
            <form>
                <div class="form-group">
                    <label for="loclati">Latitude</label>
                    <input ng-model="model.newsensor.location.latitude"
                           type="text" class="form-control"
                           id="loclati" placeholder="12.0000">
                </div>

                <div class="form-group">
                    <label for="loclong">Longitude</label>
                    <input ng-model="model.newsensor.location.longitude"
                           type="text" class="form-control"
                           id="loclong" placeholder="77.0000">
                </div>

                <div class="form-group">
                    <label for="area">Area</label>
                    <input ng-model="model.newsensor.area"
                           type="text" class="form-control"
                           id="area" placeholder="Bangalore">
                </div>

                <div class="form-group">
                    <label for="readings">Weather Reading IDs (separated by commas)</label>
                    <input ng-model="model.newsensor.weatherReadings"
                           type="text" class="form-control"
                           id="readings" placeholder="12345, 23456">
                </div>
            </form>
            <br>
        </div>

        <br>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>_id</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Area</th>
                    <th>Readings</th>
                    <th ng-hide="model.bool" ><span ng-click="model.addSensor = true; model.bool = true"
                                                    class="glyphicon glyphicon-plus"></span></th>
                    <th ng-hide="!model.bool"><span ng-click="model.createSensor(model.newsensor)"
                                                    class="glyphicon glyphicon-ok"></span></th>
                    <th ng-hide="!model.bool"><span ng-click="model.addSensor = false; model.bool = false"
                                                    class="glyphicon glyphicon-remove"></span></th>
                </tr>
                </thead>
                <tbody ng-show="model.searchResults" ng-repeat="search in model.searchResults">
                <tr class="success">
                    <td>{{search._id}}</td>
                    <td ng-show="search.editfields">
                        <input
                                ng-model="model.search.location.latitude"
                                type="text"
                                class="form-control"
                                placeholder="65.4564"/></td>
                    <td ng-hide="search.editfields">{{search.location.latitude}}</td>
                    <td ng-show="search.editfields">
                        <input
                                ng-model="model.search.location.longitude"
                                type="text"
                                class="form-control"
                                placeholder="54.7878"/></td>
                    <td ng-hide="search.editfields">{{search.location.longitude}}</td>
                    <td ng-show="search.editfields">
                        <input
                                ng-model="model.search.area"
                                type="text"
                                class="form-control"
                                placeholder="MG Road"/></td>
                    <td ng-hide="search.editfields">{{search.area}}</td>
                    <td ng-show="search.editfields">
                        <input
                                ng-model="model.search.weatherReadings"
                                type="text"
                                class="form-control"
                                placeholder="123,123"/></td>
                    <td ng-hide="search.editfields">{{search.weatherReadings}}</td>
                    <td ng-hide="search.editfields">
                        <span ng-click="search.editfields = true" class="glyphicon glyphicon-pencil"></span>
                    </td>

                    <td ng-show="search.editfields">
                        <span ng-click="model.updateSensor(search._id, model.search)" class="glyphicon glyphicon-ok"></span>
                    </td>

                    <td ng-show="search.editfields">
                        <span ng-click="search.editfields = false" class="glyphicon glyphicon-remove"></span>
                    </td>

                    <td ng-hide="search.editfields">
                        <span ng-click="model.deleteSensor(search)" class="glyphicon glyphicon-trash"></span>
                    </td>
                </tr>
                </tbody>

                <tbody ng-show="model.search">
                <tr class="success">
                    <td>{{model.search._id}}</td>
                    <td ng-show="model.search.editfields">
                        <input
                                ng-model="model.search.location.latitude"
                                type="text"
                                class="form-control"
                                placeholder="65.4564"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.location.latitude}}</td>
                    <td ng-show="search.editfields">
                        <input
                                ng-model="model.search.location.longitude"
                                type="text"
                                class="form-control"
                                placeholder="54.7878"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.location.longitude}}</td>
                    <td ng-show="model.search.editfields">
                        <input
                                ng-model="model.search.area"
                                type="text"
                                class="form-control"
                                placeholder="MG Road"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.area}}</td>
                    <td ng-show="model.search.editfields">
                        <input
                                ng-model="model.search.weatherReadings"
                                type="text"
                                class="form-control"
                                placeholder="123,456"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.weatherReadings}}</td>
                    <td ng-hide="model.search.editfields">
                        <span ng-click="model.search.editfields = true" class="glyphicon glyphicon-pencil"></span>
                    </td>

                    <td ng-show="model.search.editfields">
                        <span ng-click="model.updateSensor(model.search._id, model.search)" class="glyphicon glyphicon-ok"></span>
                    </td>

                    <td ng-show="model.search.editfields">
                        <span ng-click="model.search.editfields = false" class="glyphicon glyphicon-remove"></span>
                    </td>

                    <td ng-hide="model.search.editfields">
                        <span ng-click="model.deleteSensor(model.search)" class="glyphicon glyphicon-trash"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div ng-show="model.r">
        <h1>Reading Details</h1>

        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <div class="radio">
                        <label><input type="radio" ng-model="searchValue" ng-value="1">Search by id</label>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div  class="input-group">
                    <input ng-model="searchText" type="text" class="form-control" placeholder="Search here">
                    <span class="input-group-btn">
                        <a class="btn btn-default" type="button">
                            <span ng-click="model.startSearch(searchValue, searchText)" class="glyphicon glyphicon-search"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>


        <div ng-show="model.addReading">
            <h3>Add a new reading</h3>
            <form>

                <div class="form-group">
                    <label for="read">Read number</label>
                    <input ng-model="model.newreading.readno"
                           type="text" class="form-control"
                           id="read" placeholder="1">
                </div>

                <div class="form-group">
                    <label for="temp">Temperature</label>
                    <input ng-model="model.newreading.temperature"
                           type="text" class="form-control"
                           id="temp" placeholder="25">
                </div>

                <div class="form-group">
                    <label for="humi">Humidity</label>
                    <input ng-model="model.newreading.humidity"
                           type="text" class="form-control"
                           id="humi" placeholder="50">
                </div>

                <div class="form-group">
                    <label for="wlevel">Water Level</label>
                    <input ng-model="model.newreading.waterlevel"
                           type="text" class="form-control"
                           id="wlevel" placeholder="12">
                </div>

                <div class="form-group">
                    <label for="uvlevel">UV Level</label>
                    <input ng-model="model.newreading.uvlevel"
                           type="text" class="form-control"
                           id="uvlevel" placeholder="1">
                </div>

                <div class="form-group">
                    <label for="press">Pressure</label>
                    <input ng-model="model.newreading.pressure"
                           type="text" class="form-control"
                           id="press" placeholder="2">
                </div>

                <div class="form-group">
                    <label for="co2">CO2 Level</label>
                    <input ng-model="model.newreading.colevel"
                           type="text" class="form-control"
                           id="co2" placeholder="2">
                </div>

                <div class="form-group">
                    <label for="pm2">Particulate Matter 2.5</label>
                    <input ng-model="model.newreading.pm2"
                           type="text" class="form-control"
                           id="pm2" placeholder="12">
                </div>

                <div class="form-group">
                    <label for="pm5">Particulate Matter 5.0</label>
                    <input ng-model="model.newreading.pm5"
                           type="text" class="form-control"
                           id="pm5" placeholder="10">
                </div>

                <div class="form-group">
                    <label for="sens">Sensor ID</label>
                    <input ng-model="model.newreading._sensorId"
                           type="text" class="form-control"
                           id="sens" placeholder="12345">
                </div>
            </form>
            <br>
        </div>

        <br>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>_id</th>
                    <th>Read number</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Water Level</th>
                    <th>UV Level</th>
                    <th>Pressure</th>
                    <th>Particulate Matter 2.5</th>
                    <th>Particulate Matter 5.0</th>
                    <th>Sensor ID</th>
                    <th ng-hide="model.bool" ><span ng-click="model.addReading = true; model.bool = true"
                              class="glyphicon glyphicon-plus"></span></th>
                    <th ng-hide="!model.bool"><span ng-click="model.createReading(model.newreading)"
                              class="glyphicon glyphicon-ok"></span></th>
                    <th ng-hide="!model.bool"><span ng-click="model.addReading = false; model.bool = false"
                              class="glyphicon glyphicon-remove"></span></th>
                </tr>
                </thead>
                <tbody ng-show="model.searchResults" ng-repeat="search in model.searchResults">
                    <tr class="success text-center">
                        <td>{{search._id}}</td>
                        <td ng-show="search.editfields">
                            <input
                                    ng-model="model.search.readno"
                                    type="text"
                                    class="form-control"
                                    placeholder="1"/></td>
                        <td ng-hide="search.editfields">{{search.readno}}</td>

                        <td ng-show="search.editfields">
                            <input
                                    ng-model="model.search.temperature"
                                    type="text"
                                    class="form-control"
                                    placeholder="2"/></td>
                        <td ng-hide="search.editfields">{{search.temperature}}</td>

                        <td ng-show="search.editfields">
                            <input
                                    ng-model="model.search.humidity"
                                    type="text"
                                    class="form-control"
                                    placeholder="2"/></td>
                        <td ng-hide="search.editfields">{{search.humidity}}</td>

                        <td ng-show="search.editfields">
                            <input
                                    ng-model="model.search.waterlevel"
                                    type="text"
                                    class="form-control"
                                    placeholder="2"/></td>
                        <td ng-hide="search.editfields">{{search.waterlevel}}</td>

                        <td ng-show="search.editfields">
                            <input
                                    ng-model="model.search.uvlevel"
                                    type="text"
                                    class="form-control"
                                    placeholder="2"/></td>
                        <td ng-hide="search.editfields">{{search.uvlevel}}</td>

                        <td ng-show="search.editfields">
                            <input
                                    ng-model="model.search.pressure"
                                    type="text"
                                    class="form-control"
                                    placeholder="2"/></td>
                        <td ng-hide="search.editfields">{{search.pressure}}</td>

                        <td ng-show="search.editfields">
                            <input
                                    ng-model="model.search.pm2"
                                    type="text"
                                    class="form-control"
                                    placeholder="2"/></td>
                        <td ng-hide="search.editfields">{{search.pm2}}</td>

                        <td ng-show="search.editfields">
                            <input
                                    ng-model="model.search.pm5"
                                    type="text"
                                    class="form-control"
                                    placeholder="2"/></td>
                        <td ng-hide="search.editfields">{{search.pm5}}</td>


                        <td ng-show="search.editfields">
                            <input
                                    ng-model="model.search._sensorId"
                                    type="text"
                                    class="form-control"
                                    value="23243"/></td>
                        <td ng-hide="search.editfields">{{search._sensorId}}</td>

                        <td ng-hide="search.editfields">
                            <span ng-click="search.editfields = true" class="glyphicon glyphicon-pencil"></span>
                        </td>

                        <td ng-show="search.editfields">
                            <span ng-click="model.updateReading(search._id, model.search)" class="glyphicon glyphicon-ok"></span>
                        </td>

                        <td ng-show="search.editfields">
                            <span ng-click="search.editfields = false" class="glyphicon glyphicon-remove"></span>
                        </td>

                        <td ng-hide="search.editfields">
                            <span ng-click="model.deleteReading(search)" class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                </tbody>

                <tbody ng-show="model.search">
                    <tr class="success text-center">
                        <td>{{model.search._id}}</td>
                        <td ng-show="model.search.editfields">
                            <input
                                    ng-model="model.search.readno"
                                    type="text"
                                    class="form-control"
                                    placeholder="1"/></td>
                        <td ng-hide="model.search.editfields">{{model.search.readno}}</td>

                        <td ng-show="model.search.editfields">
                            <input
                                    ng-model="model.search.temperature"
                                    type="text"
                                    class="form-control"
                                    placeholder="1"/></td>
                        <td ng-hide="model.search.editfields">{{model.search.temperature}}</td>

                        <td ng-show="model.search.editfields">
                            <input
                                    ng-model="model.search.humidity"
                                    type="text"
                                    class="form-control"
                                    placeholder="1"/></td>
                        <td ng-hide="model.search.editfields">{{model.search.humidity}}</td>

                        <td ng-show="model.search.editfields">
                            <input
                                    ng-model="model.search.waterlevel"
                                    type="text"
                                    class="form-control"
                                    placeholder="1"/></td>
                        <td ng-hide="model.search.editfields">{{model.search.waterlevel}}</td>

                        <td ng-show="model.search.editfields">
                            <input
                                    ng-model="model.search.uvlevel"
                                    type="text"
                                    class="form-control"
                                    placeholder="1"/></td>
                        <td ng-hide="model.search.editfields">{{model.search.uvlevel}}</td>

                        <td ng-show="model.search.editfields">
                            <input
                                    ng-model="model.search.pressure"
                                    type="text"
                                    class="form-control"
                                    placeholder="1"/></td>
                        <td ng-hide="model.search.editfields">{{model.search.pressure}}</td>

                        <td ng-show="model.search.editfields">
                            <input
                                    ng-model="model.search.pm2"
                                    type="text"
                                    class="form-control"
                                    placeholder="1"/></td>
                        <td ng-hide="model.search.editfields">{{model.search.pm2}}</td>

                        <td ng-show="model.search.editfields">
                            <input
                                    ng-model="model.search.pm5"
                                    type="text"
                                    class="form-control"
                                    placeholder="1"/></td>
                        <td ng-hide="model.search.editfields">{{model.search.pm5}}</td>

                        <td ng-show="model.search.editfields">
                            <input
                                    ng-model="model.search._sensorId"
                                    type="text"
                                    class="form-control"
                                    placeholder="12345"/></td>
                        <td ng-hide="model.search.editfields">{{model.search._sensorId}}</td>

                        <td ng-hide="model.search.editfields">
                            <span ng-click="model.search.editfields = true" class="glyphicon glyphicon-pencil"></span>
                        </td>

                        <td ng-show="model.search.editfields">
                            <span ng-click="model.updateReading(model.search._id, model.search)" class="glyphicon glyphicon-ok"></span>
                        </td>

                        <td ng-show="model.search.editfields">
                            <span ng-click="model.search.editfields = false" class="glyphicon glyphicon-remove"></span>
                        </td>

                        <td ng-hide="model.search.editfields">
                            <span ng-click="model.deleteReading(model.search)" class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<br>
<br>
<br>
<br>
<br>
<br>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/dashboard">
            <span class="pull-right glyphicon glyphicon-home"></span>
        </a>
    </div>
</nav>