<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#/dashboard">
        <img alt="Brand" src="../../../../images/rsz_11rsz_1rsz_vedoot-logo.png" style="height: 30px;">
    </a>
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/profile">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
        <a class="navbar-brand" ng-click="model.logout()">
            <span class="pull-right glyphicon glyphicon-log-out"></span>
        </a>
    </div>
</nav>

<h2></h2>
<h2 class="h2-settings">Bangalore</h2>
<div id="city-page" class="container-fluid">
    <h4>Bangalore is the capital of Indian state, Karnataka.</h4>
    <p>Bangalore also known as <b>Bengaluru</b> has gradually evolved from being called as the garden city to the silicon city of India.
        Bangalore is a metropolitan and a cosmopolitan city wherein people from all over the country come here, not just for jobs but also to have a better life.
        This makes Bangalore as the third most populous city and fifth-most populous urban mass in India.
        However, Bangalore is considered as one of India's most progressive and developed cities with a blissful benevolent climate.
        It is the second fastest-growing major metropolis in India having the headquarters of Indian technological organizations ISRO, Infosys, Wipro, HAL and is the home to many research and educational institutions in India such as Indian Institute of Management (IIMB), Indian Institute of Science (IISc).
        The city has a literacy rate of 89% and the language spoken is its native language Kannada.
        The entire city is connected through the Bangalore Metropolitan Transport Corporation making the travel simple.
    </p>
    
    <img src="../../../../../images/bangalore-tourist-places-1.jpg">
    
    
    
</div>

<br>
<br>
<br>
<br>
<br>
<br>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/dashboard">
            <span class="pull-right glyphicon glyphicon-home"></span>
        </a>
    </div>
</nav>
