<!--<pre ng-bind="model.wikiData | json"></pre>-->

<!--{{model.pageDetails}}-->
<p><b>Bangalore</b> <span><span>/<span><span title=\"'b' in 'buy'\">b</span><span title=\"/æ/ short 'a' in 'bad'\">æ</span>
    <span title=\"/ŋ/ 'ng' in 'sing'\">ŋ</span>
    <span title=\"'g' in 'guy'\">ɡ</span>
    <span title=\"/ə/ 'a' in 'about'\">ə</span>
    <span title=\"/ˈ/ primary stress follows\">ˈ
    </span><span title=\"'l' in 'lie'\">l</span>
    <span title=\"/ɔː/ 'au' in 'fraud'\">ɔː</span>
    <span title=\"'r' in 'rye'\">r</span></span>/</span></span>,
    officially known as <b>Bengaluru</b>
    (<span title=\"Representation in the International Phonetic Alphabet (IPA)\">[ˈbeŋɡəɭuːɾu]</span>),
    is the capital of the Indian state of Karnataka.
    It has a population of about
    <span>8.42 million</span>
    and a metropolitan population of about
    <span>8.52 million</span>,
    making it the third most populous city and fifth most populous urban agglomeration in India.
    It is located in southern India on the Deccan Plateau.
    Its elevation is over 900 m (3,000 ft) above sea level, the highest of India's major cities.</p>

<p>Bangalore is sometimes referred to as the \"Silicon Valley of India\" (or \"IT capital of India\")
    because of its role as the nation's leading information technology (IT) exporter.
    Indian technological organisations ISRO, Infosys, Wipro and HAL are headquartered in the city.
    A demographically diverse city, Bangalore is the second fastest-growing major metropolis in India.
    It is home to many educational and research institutions in India, such as Indian Institute of Science (IISc),
    Indian Institute of Management (Bangalore) (IIMB), National Institute of Fashion Technology, Bangalore,
    National Institute of Design, Bangalore (NID R&amp;D Campus), National Law School of India University (NLSIU)
    and National Institute of Mental Health and Neurosciences (NIMHANS).
    Numerous state-owned aerospace and defence organisations, such as Bharat Electronics,
    Hindustan Aeronautics and National Aerospace Laboratories are located in the city.
    The city also houses the Kannada film industry.
</p>
