<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#/dashboard">
        <img alt="Brand" src="../../../../images/rsz_11rsz_1rsz_vedoot-logo.png" style="height: 30px;">
    </a>
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/profile">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
        <a class="navbar-brand" ng-click="model.logout()">
            <span class="pull-right glyphicon glyphicon-log-out"></span>
        </a>
    </div>
</nav>

<h1></h1>


<div class="container-fluid">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        <strong>Error!</strong> {{model.error}}
    </div>

    <h1>User Details</h1>

    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">
                <label class="radio-inline"><input type="radio" ng-model="searchValue" ng-value="1">Search by id</label>
                <label class="radio-inline"><input type="radio" ng-model="searchValue" ng-value="2">Search by username</label>
            </div>
            <br>
        </div>

        <div class="col-xs-6">
            <div class="input-group">
                <input ng-model="searchText" type="text" class="form-control" placeholder="Search here">
                <span class="input-group-btn">
                    <a ng-click="model.startSearch(searchValue, searchText)" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
            </div>
            <i ng-show="model.spinner" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
            <span class="sr-only"></span>
        </div>
    </div>

    <div ng-show="model.addUser">
        <h3>Add a new user</h3>
        <form>

            <div class="form-group">
                <label for="username">Username*</label>
                <input ng-model="model.newuser.username" type="text" class="form-control" id="username" placeholder="Username">
            </div>

            <div class="form-group">
                <label for="password">Password*</label>
                <input ng-model="model.newuser.password" type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input ng-model="model.newuser.email"type="email" class="form-control" id="email" placeholder="email@address.com">
            </div>

            <div class="form-group">
                <label for="first-name">First Name*</label>
                <input ng-model="model.newuser.firstName" type="text" class="form-control" id="first-name" placeholder="First name">
            </div>

            <div class="form-group">
                <label for="last-name">Last Name*</label>
                <input ng-model="model.newuser.lastName" type="text" class="form-control" id="last-name" placeholder="Last name">
            </div>

            <div class="form-group">
                <label for="role">Role [NORMAL|ADMIN|TADMIN|WADMIN]*</label>
                <input ng-model="model.newuser.role" type="text" class="form-control" id="role" placeholder="Last name">
            </div>

        </form>
        <br>
    </div>

    <br>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>_id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th ng-hide="model.bool" ><span ng-click="model.addUser = true; model.bool = true"
                                                    class="glyphicon glyphicon-plus"></span></th>
                    <th ng-hide="!model.bool"><span ng-click="model.createUser(model.newuser)"
                                                    class="glyphicon glyphicon-ok"></span></th>
                    <th ng-hide="!model.bool"><span ng-click="model.addUser = false; model.bool = false"
                                                    class="glyphicon glyphicon-remove"></span></th>
                </tr>
            </thead>

            <tbody ng-show="model.searchResults" ng-repeat="search in model.searchResults">
                <tr class="success">

                    <td>{{search._id}}</td>

                    <td ng-show="search.editfields">
                        <input
                            ng-model="model.search.username"
                            type="text"
                            class="form-control"
                            placeholder="john"/></td>
                    <td ng-hide="search.editfields">{{search.username}}</td>

                    <td ng-show="search.editfields">
                        <input
                            ng-model="model.search.email"
                            type="email"
                            class="form-control"
                            placeholder="john@gmail.com"/></td>
                    <td ng-hide="search.editfields">{{search.email}}</td>

                    <td ng-show="search.editfields">
                        <input
                            ng-model="model.search.firstName"
                            type="text"
                            class="form-control"
                            placeholder="John"/></td>
                    <td ng-hide="search.editfields">{{search.firstName}}</td>

                    <td ng-show="search.editfields">
                        <input
                            ng-model="model.search.lastName"
                            type="text"
                            class="form-control"
                            placeholder="Connor"/></td>
                    <td ng-hide="search.editfields">{{search.lastName}}</td>

                    <td ng-show="search.editfields">
                        <input
                            ng-model="model.search.role"
                            type="text"
                            class="form-control"
                            placeholder="NORMAL"/></td>
                    <td ng-hide="search.editfields">{{search.role}}</td>

                    <td ng-hide="search.editfields">
                        <span ng-click="search.editfields = true" class="glyphicon glyphicon-pencil"></span>
                    </td>

                    <td ng-show="search.editfields">
                        <span ng-click="model.updateUser(search._id, model.search)" class="glyphicon glyphicon-ok"></span>
                    </td>

                    <td ng-show="search.editfields">
                        <span ng-click="search.editfields = false" class="glyphicon glyphicon-remove"></span>
                    </td>

                    <td ng-hide="search.editfields">
                        <span ng-click="model.deleteUser(search)" class="glyphicon glyphicon-trash"></span>
                    </td>
                </tr>
            </tbody>

            <tbody ng-show="model.search">
                <tr class="success">

                    <td>{{model.search._id}}</td>

                    <td ng-show="model.search.editfields">
                        <input
                            ng-model="model.search.username"
                            type="text"
                            class="form-control"
                            placeholder="john"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.username}}</td>

                    <td ng-show="model.search.editfields">
                        <input
                            ng-model="model.search.email"
                            type="email"
                            class="form-control"
                            placeholder="john@gmail.com"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.email}}</td>

                    <td ng-show="model.search.editfields">
                        <input
                            ng-model="model.search.firstName"
                            type="text"
                            class="form-control"
                            placeholder="John"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.firstName}}</td>

                    <td ng-show="model.search.editfields">
                        <input
                            ng-model="model.search.lastName"
                            type="text"
                            class="form-control"
                            placeholder="Connor"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.lastName}}</td>

                    <td ng-show="model.search.editfields">
                        <input
                            ng-model="model.search.role"
                            type="text"
                            class="form-control"
                            placeholder="NORMAL"/></td>
                    <td ng-hide="model.search.editfields">{{model.search.role}}</td>

                    <td ng-hide="model.search.editfields">
                        <span ng-click="model.search.editfields = true" class="glyphicon glyphicon-pencil"></span>
                    </td>

                    <td ng-show="model.search.editfields">
                        <span ng-click="model.updateUser(model.search._id, model.search)" class="glyphicon glyphicon-ok"></span>
                    </td>

                    <td ng-show="model.search.editfields">
                        <span ng-click="model.search.editfields = false" class="glyphicon glyphicon-remove"></span>
                    </td>

                    <td ng-hide="model.search.editfields">
                        <span ng-click="model.deleteUser(model.search)" class="glyphicon glyphicon-trash"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/dashboard">
            <span class="pull-right glyphicon glyphicon-home"></span>
        </a>
    </div>
</nav>