<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="pull-left navbar-header">
        <a class="navbar-brand" href="#/dashboard">
            <img alt="Brand" src="../../../../images/rsz_11rsz_1rsz_vedoot-logo.png" style="height: 30px;">
        </a>
        <a class="navbar-brand hidden-xs" href="#/dashboard">Dashboard</a>
    </div>

    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/profile">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
        <a class="navbar-brand" ng-click="model.logout()">
            <span class="pull-right glyphicon glyphicon-log-out"></span>
        </a>
    </div>

    <div class="visible-xs">
        <div class="navbar-header pull-right">
            <a id="menu" class="navbar-brand">
                <span class="pull-right glyphicon glyphicon-th"></span>
            </a>
        </div>

        <ul id="navhide" class="nav">
            <li>
                <div id="pxmargin"></div>
                <a ng-hide="model.NORMAL" id="domainnav">Domains<span class="pull-right glyphicon glyphicon-menu-down"></span></a>
                <ul class="nav nav-second-level nav" id="gov-level">
                    <li ng-show="model.WADMIN">
                        <a href="#/weather_domain">Weather Domain</a>
                    </li>
                    <li ng-show="model.TADMIN">
                        <a href="#/traffic_domain">Traffic Domain</a>
                    </li>
                    <li ng-show="model.ADMIN">
                        <a href="#/admin">Admin</a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="#/city">City Intro</a>
            </li>
            <li>
                <a id="emailnav">Email<span class="pull-right glyphicon glyphicon-menu-down"></span></a>
                <ul class="nav nav-second-level" id="email-level">
                    <li>
                        <a href="#/inbox">Inbox</a>
                    </li>
                    <li>
                        <a href="#/compose/000">Write Message</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<h2></h2>

<div class="hidden-xs">
<div class="col-xs-3">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav">
            <ul class="nav">
                <li>
                    <a ng-hide="model.NORMAL" id="domains">Domains<span class="pull-right pull-right glyphicon glyphicon-menu-down"></span></a>
                    <ul class="nav nav-second-level" id="gov-level-2">
                        <li ng-show="model.WADMIN">
                            <a href="#/weather_domain">Weather Domain</a>
                        </li>
                        <li ng-show="model.TADMIN">
                            <a href="#/traffic_domain">Traffic Domain</a>
                        </li>
                        <li ng-show="model.ADMIN">
                            <a href="#/admin">Admin</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/city">City Intro</a>
                </li>
                <li>
                    <a id="emails">Email<span class="pull-right glyphicon glyphicon-menu-down"></span></a>
                    <ul class="nav nav-second-level" id="email-level-2">
                        <li>
                            <a href="#/inbox">Inbox</a>
                        </li>
                        <li>
                            <a href="#/compose/000">Write Message</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="col-xs-9">
    <div class="container-fluid">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            <strong>Error!</strong> {{model.error}}
        </div>
        <div id="gmaps"></div>

        <div class="row">
            <div class="col-xs-6">
                <a href="#/weather" class="wrap-text btn btn-success btn-block">Weather Updates</a>
            </div>

            <div class="col-xs-6">
                <a href="#/traffic" class="wrap-text btn btn-danger btn-block">Traffic Updates</a>
            </div>
        </div>
    </div>

</div>
</div>

<div class="visible-xs">
    <div class="container-fluid">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            <strong>Error!</strong> {{model.error}}
        </div>
        <div id="gmap"></div>

        <div class="row">
            <div class="col-xs-6">
                <a href="#/weather" class="wrap-text btn btn-success btn-block">Weather Updates</a>
            </div>

            <div class="col-xs-6">
                <a href="#/traffic" class="wrap-text btn btn-danger btn-block">Traffic Updates</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/dashboard">
            <span class="pull-right glyphicon glyphicon-home"></span>
        </a>
    </div>
</nav>