<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="pull-left navbar-header">
        <a class="navbar-brand" href="#/user/{{model.user._id}}">
            <img alt="Brand" src="../../../../images/rsz_11rsz_1rsz_vedoot-logo.png" style="height: 30px;">
        </a>
        <a class="navbar-brand" href="#/user/{{model.user._id}}">Dashboard</a>
    </div>

    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/user/{{model.user._id}}/profile">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
        <a class="navbar-brand" ng-click="model.logout()">
            <span class="pull-right glyphicon glyphicon-log-out"></span>
        </a>
    </div>
</nav>

<h2></h2>

<div class="col-xs-3">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#/user/{{model.user._id}}">Government Services</a>
                </li>
                <li>
                    <a id="domains">Domains<span class="pull-right pull-right glyphicon glyphicon-menu-down"></span></a>
                    <ul class="nav nav-second-level" id="gov-level-2">
                        <li>
                            <a href="#/user/{{model.user._id}}/weather_domain">Weather Domain</a>
                        </li>
                        <li>
                            <a href="#/user/{{model.user._id}}/traffic_domain">Traffic Domain</a>
                        </li>
                        <li>
                            <a href="#/user/{{model.user._id}}/admin">Admin</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/user/{{model.user._id}}">Transit</a>
                </li>
                <li>
                    <a href="#/user/{{model.user._id}}">City Intro</a>
                </li>
                <li>
                    <a id="parking">Parking<span class="pull-right glyphicon glyphicon-menu-down"></span></a>
                    <ul class="nav nav-second-level" id="parking-level-2">
                        <li>
                            <a href="#/user/{{model.user._id}}">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#/user/{{model.user._id}}">Second Level Item</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="ticketing">Ticketing<span class="pull-right glyphicon glyphicon-menu-down"></span></a>
                    <ul class="nav nav-second-level" id="ticketing-level-2">
                        <li>
                            <a href="#/user/{{model.user._id}}">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#/user/{{model.user._id}}">Second Level Item</a>
                        </li>
                        <li>
                            <a id="third-level">Third Level <span class="pull-right glyphicon glyphicon-menu-down"></span></a>
                            <ul class="nav nav-third-level" id="ticketing-level-3">
                                <li>
                                    <a href="#/user/{{model.user._id}}">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#/user/{{model.user._id}}">Third Level Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="traffic-drop-down">Traffic<span class="pull-right glyphicon glyphicon-menu-down"></span></a>
                    <ul class="nav nav-second-level" id="traffic-level-2">
                        <li>
                            <a href="#/user/{{model.user._id}}">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#/user/{{model.user._id}}">Second Level Item</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="col-xs-9">
    <div class="container-fluid">
        <div class="row">
            <div>
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248849.55224307554!2d77.49085171689526!3d12.95429460015387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C+Karnataka%2C+India!5e0!3m2!1sen!2sus!4v1488839778639"
                        width="100%"
                        height="450"
                        frameborder="0"
                        allowfullscreen>
                </iframe>
            </div>

            <div class="col-xs-6">
                <a href="#/user/{{model.user._id}}/weather" class="wrap-text btn btn-success btn-block">Weather Updates</a>
                <!--<button onclick="getLocation()" class="wrap-text btn btn-success btn-block">What's happening near me?</button>-->
            </div>

            <div class="col-xs-6">
                <a href="#/user/{{model.user._id}}/traffic" class="wrap-text btn btn-danger btn-block">Traffic Updates</a>
                <!--<button onclick="getLocation()" class="wrap-text btn btn-success btn-block">What's happening near me?</button>-->
            </div>


        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#/user/{{model.user._id}}">
                    <span class="pull-right glyphicon glyphicon-home"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>