

<div class="container-fluid">
    <h1>Register</h1>

    <div ng-show="model.message" class="alert alert-success" role="alert">
        <strong>Success!</strong> {{model.message}}
    </div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        <strong>Error!</strong> {{model.error}}
    </div>

    <input ng-model="user.firstName" type="text" class="form-control" placeholder="First Name"/>
    <input ng-model="user.lastName" type="text" class="form-control" placeholder="Last Name"/>
    <input ng-model="user.username" type="text" class="form-control" placeholder="username"/>
    <input ng-model="user.password" type="password" class="form-control" placeholder="password"/>
    <input ng-model="user.password "type="password" class="form-control" placeholder="verify password"/>

    <a ng-click="model.register(user)" class="btn btn-primary btn-block">Register</a>
    <a class="btn btn-danger  btn-block" href="#/login">Cancel</a>



</div>


