input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
    padding-bottom: 50px;
    height: 100%;
    background: #ffffff; /*#2c3e50*/
}

html {
    height: 100%;
}

.no-left-margin {
    margin-left: 12px;
}

.no-right-margin {
    margin-right: 14px;
}

.blur-background {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    pointer-events: none;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}
a:hover {
    color: #1abc9c;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #5e5e5e;
    background-color: #1abc9c;
}

#demo {
    text-align: right;
    font-size: x-small;
    color: white;
}

#regbar {
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.login {
    position: relative;
    width: 350px;
    display: none;
}

.register {
    position: relative;
    width: 350px;
    display: none;
}

.formholder {
    width: 350px;
    top: 10px;
    right: 5%;
    margin-left: 40%;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #36a3a1;
    position: fixed;
}

.inside-pad {
    padding: 10px;
}

.h2-settings {
    background: #555;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 20px;
}

ul {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#weather .col-xs-4,
#traffic .col-xs-4{
    padding-right: 0px;
}

li:hover {
    border: #555;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #555;
    color: white;
}

.iframe-container {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding-right: 0px;
    padding-left: 0px;
}
.wrap-text {
    white-space: normal;
}

#weather {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding-right: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: relative;
    z-index: 2;
}

#traffic {
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding-right: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
}

#contact {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding-right: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: relative;
    z-index: 2;
}

/* ----------- upto here for home screen ----------- */

/* ----------- from here dashboard styles ----------- */
body {
    background-color: #1a8786;
    color: white;
    /*text-align: center;*/
}

.sidebar ul li {
    margin-top: 0px;
    background-color: #555;
    border-bottom: 1px solid #e7e7e7;
}

#pxmargin {
    margin-top: 50px !important;
}

/*label {*/
    /*color: #777;*/
/*}*/

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}
.sidebar .nav-second-level li a {
    padding-left: 37px;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media (min-width: 595px) {
    .sidebar {
        z-index: 10;
        position: absolute;
        left: 0px;
        width: 100%;
        margin-top: 0px;
    }
    .col-xs-9 {
        padding-right: 0px;
        padding-left: 0px;
    }
}
/*@media (max-width: 595px) {*/
    /*.sidebar {*/
        /*display: none;*/
    /*}*/
    /*.col-xs-9 {*/
        /*width: 100%;*/
    /*}*/
/*}*/

.navbar-fixed-bottom {
    z-index: 5;
}

ul {
    color: black;
}


/* ----------- upto here for dashboard styles ----------- */

.charts {
    background: white;
    border-radius: 4px;
    border:1px solid #000000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 10px;
}

#mapdiv {
    padding-right: 3px;
}

#weatherlist {
    padding-left: 0px;
}

#weatherlist ul {
    margin-bottom: 0px;
}

.gmaps {
    height: 329px;
    color: black;
    background: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

#gmaps {
    width: 100%;
    height: 450px;
    color: black;
    background: white;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#gmap {
    width: 100%;
    height: 450px;
    color: black;
    background: white;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.head {
    text-align: center;
}


table {
    background: white;
    color: black;
    border-radius: 4px;
}

#inbox-body {
    color: black;
}

/* from here inbox */

#messages {
    background: #1abc9c;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 15px;
    position: relative;
    z-index: 2;
    border-bottom-left-radius: 25px;
}

#messages:hover {
    background-color: #ffffff;
    color: black;
}

.fa-reply:hover, .glyphicon-remove:hover {
    color: #1abc9c;
}

#sender {
    float: left;
}

#domain {
    text-align: right;
    padding-right: 20px;
}

#subject {
    float: left;
}

#date-sent {
    text-align: right;
    padding-right: 20px;
}

.fa-reply {
    padding-right: 15px;
}

.splitview {
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#content {
    border-top: 1px solid #000000;
    padding-bottom: 0px;
    padding-top: 5px;
}

#content-body {
    white-space: pre-line;
}

/* city page */

#city-page img, #city-page p {
    width: 100%;
    text-align: justify;
}

/* domains */

#model-select .col-xs-4 a{
    background: #36a3a1;
}

.table-bordered {
    margin-bottom: 0px;
}

.table td, th {
    border: 1px solid #000000;
    text-align: center;
}

.table tr:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.input-group input{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.table-responsive {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

/* city */

.cityphotos {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}